!!! 5
mixin article(item)
  .article
    a( href="#{item.url}" )
      h1.title #{item.title}
    //h2.timestamp.light #{item.pretty_timestamp}
    p !{item.text}
    a.more( href="#{item.url}" ) MORE >>

html
  head
    title Simple News
    link(rel='stylesheet', href='/styles/mobile.css')
  body
    .wrapper
      for item in articles
        +article(item)
